@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-wave {
  animation: wave 1.5s ease-in-out infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  90% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.flasker-img {
  animation: fall 4s ease infinite;
}

.animate-shake {
  animation: shake 2s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(-2deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}
