---
import { Image } from "astro:assets";
import Logoer from "../assets/images/stotte.webp";
---

<section id="Forskel" class="mt-40 mb-20 parallaxcontainer">
  <div
    class="grid grid-cols-7 py-60 bg-gronverden bg-[cover] parallaxcontainer"
  >
    <!-- Fotos af Jess Ruyter: https://www.pexels.com/da-dk/foto/natur-skov-traeer-miljo-9413489/ -->
    <p
      class="col-start-2 col-span-3 text-sky-950 text-lg text-center font-bold bg-white/75 px-10 p-6 rounded-xl leading-relaxed"
    >
      Plastic Change arbejder for en verden uden plastikforurening. Det gør vi
      ved at fokusere på løsninger, der reducerer produktion og forbrug af
      plastik til gavn for både miljø, klima og sundhed
    </p>
  </div>
  <div class="grid grid-cols-8 mt-40">
    <p
      class="col-start-1 col-span-4 ml-36 mt-20 leading-relaxed text-sky-950 text-lg text-center font-bold"
    >
      Dit bidrag som Plastic Changer kan være alt fra at samle affald, mens du
      lufter din hund, arrangere en lokal affaldsoprydning, tage billeder eller
      lave film, engagere dine lokalpolitikere – og alt herimellem, der sætter
      fokus på problemet med plastikforurening.
    </p>
    <Image src={Logoer} alt="" class="col-start-6 col-span-2" />
  </div>
</section>

<style>
  .parallaxcontainer {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<script>
  // JavaScript code to be executed once the DOM is loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Select all elements with class .parallaxcontainer
    const parallaxContainers = document.querySelectorAll(".parallaxcontainer");

    // Loop through each .parallaxcontainer element
    parallaxContainers.forEach((parallaxcontainer) => {
      // Add scroll event listener
      parallaxcontainer.addEventListener("scroll", function () {
        // Get the scroll position of the container
        let scrollTop = parallaxcontainer.scrollTop;
        // Adjust background position based on scroll position
        parallaxcontainer.style.backgroundPositionY = `${scrollTop * 0.5}px`;
      });
    });
  });
</script>
