<nav class="flex justify-between items-center py-4 bg-black">
    <a href="/" class="ml-8">
      <img class="w-48 h-16" src="/logo.png" alt="logo"/>
    </a>
  
    <ul class="flex gap-4 p-6">
      <li class="text-[#FF1054] font-bold p-8"><a href="#Forurening">Hvad er plastikforurening?</a></li>
      <li class="text-[#FF1054] font-bold p-8"><a href="#Problemet">Problemet</a></li>
      <li class="text-[#FF1054] font-bold p-8"><a href="#HvadGørJeg">Hvad kan man gøre?</a></li>
      <li class="text-[#FF1054] font-bold p-8"><a href="#Forskel">Hvad gør Plastic Change?</a></li>
      <li class="text-[#FF1054] font-bold p-8"><a href="#Støt">Støt</a></li>
    </ul>
  </nav>
  
