---
import PrimaryBtn from "../components/PrimaryBtn.astro";
import SecondaryBtn from "../components/SecondaryBtn.astro";
---

<p>Section 3 - Hvad kan man som bruger gøre</p>

<section id="HvadGørJeg">
  <h2></h2>
  <PrimaryBtn>Virker det?</PrimaryBtn>
  <SecondaryBtn>Det virker</SecondaryBtn>
</section>
