---
import { Image } from "astro:assets";
import section6 from "../assets/images/Section6.png";
import PrimaryBtn from "./PrimaryBtn.astro";
---

<section id="Køb" class="bg-gray-200 text-center">
  <section
    class="px-8 py-20 grid lg:grid-cols-2 gap-10 max-w-6xl mx-auto"
    id="section3"
  >
    <div class="grid gap-8">
      <h2
        class="font-bold text-3xl text-white text-center animate__animated animate__tada animate__infinite infinite"
      >
      </h2>
      <article>
        <p class="text-2xl text-center font-semibold text-sky-950 mb-10">
          Ved dit køb af vores merchandise donerer vi 5% af omsætningen til
          havet
        </p>
        <PrimaryBtn>Se vores merchandise her</PrimaryBtn>
      </article>
    </div>

    <div class="flex items-center justify-center">
      <Image src={section6} alt="t-shirt" class="inline w-80" />
    </div>
  </section>
</section>
