---
import { Image } from 'astro:assets';
import section6 from "../assets/images/Section6.png"
import Button from './PrimaryBtn.astro';
import Button2 from './SecondaryBtn.astro';
---

<section id="Køb" class="bg-gray-200 text-center">
  <section class="px-8 py-20 mt-20 grid lg:grid-cols-2 gap-10 max-w-6xl mx-auto " id="section3">
    <div class="grid gap-8">
      <h2 class="font-bold text-3xl text-green-800 text-center animate__animated animate__tada animate__infinite infinite"></h2>
      <article>
        <p class="text-xl text-center font-semibold">Ved dit køb af vores merchandise donerer vi 5% af omsætningen til havet</p>
      </article>
    </div>
    
    <div class="self-center">
      <Image src={section6} alt="scoter." class="inline" />
    </div>

    <div class="pb-10">
      <Button2>Se vores merchandise her</Button2>
    </div>
  </section>
</section>



