---
const { variant = "primary" } = Astro.props;
const buttonStyling = "text-white rounded-xl p-2 px-4 font-bold";
const variantClasses = {
  primary: "bg-rod hover:bg-hoverrod active:bg-clickrod",
};
---

<button class:list={[buttonStyling, variantClasses[variant]]}><slot /></button>
