---
import PrimaryBtn from "../components/PrimaryBtn.astro";
import SecondaryBtn from "../components/SecondaryBtn.astro";
---
<section id="Problemet" class="bg-[#D9D9D9] p-4">
  <div class="flex justify-start items-center m-10">
    <div class="bg-[#475569] font-semibold p-4 md:p-6 rounded-lg flex flex-col items-center space-y-4 max-w-sm">

      <h2 class="text-lg p-2 text-center">Du kan lave en engangsdonation eller oprette et medlemsskab her</h2>

      <PrimaryBtn>Støt her</PrimaryBtn>
    </div>
  </div>

  <div class="max-w-2xl mx-auto py-10 px-4">

    <p class="text-center">Hver dag forurenes naturen med tusindvis af plaststykker, som aldrig forsvinder igen. Hvert minut tømmes plastikaffald ud i havet, som vikler sig rundt om sæler, skildpadder, delfiner og ender i maver på hvaler, fugle og fisk.</p>
    
    <img src="/grafik1.png" alt="En masse fisk" class="mx-auto">
  </div>

  <div class="max-w-2xl mx-auto py-10 px-4">

    <p class="text-center">Plastikforurening er at finde overalt, fra dybhavet og Marianergraven til toppen af Mount Everest til indlandsisen på Arktis. Det udgør en større og større trussel for vores natur- og havmiljø, økosystemer, samt klimaet og menneskers sundhed</p>

    <img src="/grafik2.png" alt="En plastikpose i havet" class="mx-auto">
  </div>


  <div class="flex items-center justify-center h-full">

    <div class="flex-1 flex justify-center items-center">
      <img src="/grafik3.png" alt="En plastikflaske hvor der står 80%" class="max-w-md mx-auto">
    </div>

    <div class="flex-1 flex justify-center items-center">
      <p class="text-center max-w-md mx-auto">Og det bliver kun værre – det forventes at i 2040 vil plastikforurening være tredoblet, og 80% af den forurening vil udgøre engangsplastik.</p>
    </div>
  </div> 

<div class="flex justify-end items-center m-10">
  <div class="bg-[#475569] font-semibold p-4 md:p-6 rounded-lg flex flex-col items-center space-y-4 max-w-sm">

    <h2 class="text-lg p-2 text-center">Tilmeld dig nyhedbrev og få endnu mere viden</h2>

    <SecondaryBtn>Tilmeld</SecondaryBtn>
  </div>
</div>
</section>
