---
import PrimaryBtn from "../components/PrimaryBtn.astro";
---
<section id="Støt" class="bg-[#1C1E23] p-4">

  <h2 class="text-white text-2xl font-semibold text-center m-6 max-w-md mx-auto">Støt os her, og beskyt naturen, dyrelivet og vores børn mod plastik.</h2>

  <form id="donation-form" class="bg-white rounded-xl p-6 m-6 mx-auto max-w-md">
    <div class="flex justify-between mb-6">
      <label class="flex items-center space-x-2">
        <input type="radio" name="frequency" class="radio accent-[#FF1054]" checked />
        <span>Månedligt</span>
      </label>
      <label class="flex items-center space-x-2">
        <input type="radio" name="frequency" class="radio accent-[#FF1054]" />
        <span>Én gang</span>
      </label>
    </div>
  
    <div class="flex justify-center space-x-3 mb-6 p-4">
      <button type="button" class="donation-amount w-16 h-16 bg-white border border-black rounded-full focus:outline-none focus: focus:bg-[#FF1054]">50</button>
      <button type="button" class="donation-amount w-16 h-16 bg-white border border-black rounded-full focus:outline-none focus: focus:bg-[#FF1054]">75</button>
      <button type="button" class="donation-amount w-16 h-16 bg-white border border-black rounded-full focus:outline-none focus:focus:bg-[#FF1054]">125</button>
    </div>
  
    <div class="flex justify-center mb-6 p-2">
      <input type="text" placeholder="Andet beløb" class="input border border-black rounded-full text-center py-2 px-4 w-full"/>
    </div>
  
    <div class="flex justify-center p-2">
      <button type="submit" class="primary-btn bg-[#FF1054] text-white rounded-full py-3 px-6 w-full focus:outline-none shadow-lg transform transition hover:scale-105 duration-300 ease-in-out">Støt nu</button>
    </div>
  </form>
</section>
