---
import PrimaryBtn from "../components/PrimaryBtn.astro";
---
<section id="Støt" class="bg-[#007C7A]">

  <h2>Støt os her, og beskyt naturen, dyrelivet og vores børn mod plastik.</h2>

  <PrimaryBtn>Støt</PrimaryBtn>
</section>
